{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <h1>Chat Home</h1>

                <a class="btn btn-primary" href="{{ new_game_url }}" role="button">New Game</a>
{#
                <h2>Leader Board</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>#}


                <h2>Chat Stats</h2>

            </div>
        </div>

    </div>
{% endblock %}