{% extends 'base.html.twig' %}

{% block title %}WhatsApp Who Said It{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>WhatsApp Who Said It</h1>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <h2>Select Chat</h2>
                {% for id, chat in chats_available %}
                    <a class="btn btn-primary" href="{{ path('new_game', {'chatId' : id }) }}" role="button">{{ chat }}</a>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
