<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('index') }}">WhatsApp Who Said It</a>
    </nav>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
